* {
	padding: 0;
	margin: 0;
	bottom: 0;
}

*, *:bofore, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {
	display: block;
}

input, button, textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}


header a {
	color: #a4aec1;
}

header a:hover {
	color: #017dfb;
	border-radius: 20px;
	box-shadow: 0 0 30px  #2790fa;
}

header {
	height: 100vh;
}

.inner {
	background-image: url(imd/Image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

h3 {
	line-height: 82px;
	text-align: center;
	text-transform: uppercase;
	color: #017dfb;
	font-size: 16px;
	letter-spacing: 0.1em;
}

.header_title a {
	border-radius: 20px;

}





.navigation a {
	display: flex;
	height: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	text-decoration: none;
	text-transform: capitalize;
	color: rgba(255,255,255, 0.5);
	width: 100%;

}

.navigation a:hover {
	box-shadow: 0 0 10px #fff;
	border-radius: 10px;
	background-color: #fff;
	color: #017dfb;
}

.navigation button:hover {
	display: block;
	background-color: #fff;
}

.navigation img {
	padding: 0 3%;
}

.pictures_items {
	position: relative;
	top: 0;left: 0;
}

.pictures_block img {
	display: block;
	width: 100%;
	height: 100%;
}

.pictures_name {
	position: absolute;
	bottom: 20px;left: 20px;
	color:#fff;
	text-transform: capitalize;
}

 .pictures_items:hover .pictures_name{
	display: none;
}

.pictures_info {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(1,159,252, 0.7);
	opacity: 0;
}

.pictures_title {
	display: flex;
	height: 100%;
	width: 100%;
	color: #fff;
	text-transform: capitalize;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pictures_items h2 {
	margin-bottom: 0;
	font-size: 36px;
	font-weight: bold;
}

.pictures_title li {
	margin: 0 5px;
}

.pictures_title a {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
}

.pictures_title a:hover {
	box-shadow: 0 0 20px #fff;
}


.pictures_info:hover {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.hotels {
	background-color: #dddddd;
}

.hotels img {
	display: block;
	width: 100%;
	height: 310px;
	object-fit: cover;
	object-position: center;
}

.hotels_card {
	position: relative;
	padding: 20px;
}

.card_info {
	min-height: 130px;
	background-color: #fafafa;
}

.card_name h6 {
	color: #697899;
	font-size: 18px;
	font-weight: bold;
	padding: 0 5px;
}

.stars img {
	max-width: 15px;
	height: auto;
	margin: 0 5px;
}

.card_price h2 {
	font-size: 36px;
	font-weight: 400;
	color: #96a0b5;
	margin: 0;
}

.card_price p{
	font-size: 14px;
	color: #d7dbe4;
	margin: 0;
}

.hotels_card button {
	position: absolute;
	bottom: 0;left: 50%;
	border-radius: 20px;
	transform: translateX(-50%);
}

.hotels_card button:hover {
	box-shadow: 0 0 30px  #2790fa;
}

.hotels_btn_all {
	border-radius: 20px;
	border: 1px solid grey;
	color: grey;
	font-weight: 700;
}

.hotels_btn_all:hover {
	box-shadow: 0 0 30px  #2790fa;
	background-color: #fff;
	color: #2790fa;
	border: 1px solid #2790fa;
}

.carousels {
	height: 80vh;
}

.carousel-inner {
	position: relative;
}

.carousel-item img {
	display: block;
	object-position: center;
	width: 100%;
	height: 100%;
}
 
.corusel_info {
	position: absolute;
	top: 0;left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 25%;
	background-color: rgba(1,159,252, 0.7);
	color: #fff;
	text-align: center;

}
.corusel_info h2 {
	font-size: 40px;
}

.corusel_info span {
	color: blue;
	font-style: italic;
}

.corusel_info p {
	font-size: 18px;
	opacity: 0.8;
}

.corusel_info b {
	font-size: 18px;
}


